*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
    color: white;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    border-radius: 1.5rem;
    border: none;
    height: 18vmin;
    width: 18vmin;
    box-shadow: 0 0 1rem rgba(0 ,0 ,0 ,0.4);
    font-size: 3rem;
    font-weight: 600;
    color:darkslategray;
    background-color:cornsilk;
}

#reset{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}

#new-btn{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color:dimgray;
    color: azure;
}

#msg{
    font-size: 8vmin;
    color:chartreuse;
    font-weight: 9vmin;
}
.msg-containe{
    height: 20vmin;
}
.hide{
    display: none;
}